---
import PaperLayout from "../layouts/PaperLayout.astro";
import Content from "../../README.md";
---

<PaperLayout title="Linn Strand">
  <main class=" p-8 mt-5">
    <nav
    class=" absolute z-10 flex flex-col w-full max-w-screen-md px-16 py-4"
  >
    <div class="sm:mb-0 mb-2">
      <a
        href={`${import.meta.env.BASE_URL}/`}
        class=""
        >Home</a
      >
    </div>
  </nav>
    <div class="m-auto prose">
      <Content />
    </div>
  </main>
</PaperLayout>

<style></style>
