---
import PaperLayout from "../layouts/PaperLayout.astro";
import Content from "../../README.md";
---

<PaperLayout title="Linn Strand">
  <main class="p-8 mt-5">
    <div class="m-auto prose">
      <Content />
    </div>
  </main>

  <style></style>
</PaperLayout>
