---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Linn Strand">
  <main class="w-screen font-mono text-center text-green-500">
    <h1 class="heading-2 col-span-2 p-6 text-4xl text-center">Project</h1>
    <div
      class="bg-blue-500/25 flex flex-col justify-between col-span-2 col-start-3 row-span-2 row-start-3 p-5"
    >
      <p>Hello, I'm Linn</p>
      <p>I build user interfaces</p>
      <p>Here is some different ideas</p>
      <button>Sky UI</button>
    </div>
    <div
      class="bg-cyan-800 flex flex-col justify-between col-span-2 col-start-7 row-start-5 p-2 m-1"
    >
      <p>Data is fun!</p>
      <p>Want to see some visualisations?</p>
      <button>Click Me</button>
    </div>
    <div class="align-self-center col-span-2 col-start-1 row-start-2">
      Frontend
    </div>
    <div class="align-self-center col-span-2 col-start-4 row-start-2">
      Backend
    </div>
    <div class="align-self-center col-span-2 col-start-7 row-start-2">Data</div>
    <div class="place-self-start col-start-1 row-start-4 pl-4">UI</div>
    <div class="item"></div>
    <div class="item"></div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: min-content 5em repeat(6, 12%);
    grid-gap: 10px;
  }

  main:before,
  main:after {
    position: absolute;
    top: 0;
    height: 100%;
    content: "";
    width: calc(100% / 3);
    z-index: 0;
    border: 1px solid hsla(230, 66%, 40%, 0.25);
  }
  main:after {
    right: 0;
    border: 1px solid hsla(230, 66%, 40%, 0.25);
  }

  .link-card {
    list-style: none;
    border: 1px solid hsla(230, 66%, 40%, 0.25);
    background: linear-gradient(
      200deg,
      hsla(230, 66%, 40%, 0.2),
      transparent 40%
    );
  }
</style>
