---
import FlowChart from "../components/FlowChart.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Linn Strand">
  <main class="h-fit pt-16">
    <FlowChart />
  </main>
</Layout>

<style></style>
