---
import FlowChart from "../components/FlowChart.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Linn Strand">
  <main class="h-screen">
    <FlowChart />
  </main>
  <div class="item bg-green-200"></div>
</Layout>

<style></style>
