---
import GraphLayout from "../layouts/GraphLayout.astro";

import { Tree } from "../components/Tree";
---

<GraphLayout title="Linn Strand">
  <main class="w-screen text-center">
    <Tree client:only="react" />
  </main>
</GraphLayout>

<style>
  path {
    fill: none;
  }
  .tree-container {
    display: flex;
    position: relative;
    flex-direction: row;
  }

  .lines {
    fill: none;
    stroke-opacity: 0.6;
    stroke-width: 1;
  }
</style>
