---
import { Sunburst } from "../components/Sunburst";
import { getDiscreteColors, processData } from "../components/util";
import Layout from "../layouts/Layout.astro";
import testdata from "../testdata.json";

const data = processData(testdata);
console.log("data", data);
---

<Layout title="Linn Strand">
  <main class="text-center w-screen">
    <Sunburst data={data} size={940} client:only="react" />
  </main>
</Layout>
