---
import PaperLayout from "../layouts/PaperLayout.astro";
import HoneyComb from "../components/HoneyComb.astro";
---

<PaperLayout title="Linn Strand">
  <main
    class="grid h-[inherit] lg:grid-cols-[min-content_auto] lg:grid-rows-[1fr_auto_auto_1fr] lg:gap-6 scale-[.85] lg:scale-100 max-md:origin-top-left"
  >
    <h1
      class="lg:scale-100 text-7xl lg:text-8xl 2xl:whitespace-nowrap 2xl:mx-20 lg:text-left inset-text lg:row-start-2 max-md:origin-top-left row-start-1 pl-3 font-bold tracking-wide text-center text-transparent scale-90"
    >
      Linn Strand
    </h1>
    <h2
      class="lg:scale-100 xl:text-4xl lg:row-start-3 xl:gap-5 px-3 text-3xl font-bold text-right text-transparent origin-top-left scale-90"
    >
      Frontend Developer
    </h2>
    <HoneyComb />
  </main>
</PaperLayout>

<style>
  @keyframes gradient-bg {
    0% {
      filter: grayscale(100%);
    }
    40% {
      filter: grayscale(100%);
    }
    100% {
      filter: grayscale(0);
    }
  }
  /* h1 {
    font-size: clamp(2rem, min(11vw, 7rem), 8rem);
  } */

  h1,
  h2 {
    background-clip: text;
    animation: gradient-bg 2s ease-in-out infinite alternate;
    background-image: theme(backgroundImage.rainbow);
    text-shadow:
      theme(colors.white / 50%) 0px 3px 4px,
      theme(colors.white / 12%) 1px 1px 6px;

    &:hover {
      animation-name: none;
      filter: grayscale(0);
      background-image: theme(backgroundImage.rainbow);
    }
  }
</style>
