---
import Cloud from "../components/Cloud.astro";
import Hexagon from "../components/Hexagon.astro";
import Gem from "../components/Gem.astro";
import GlassLayout from "../layouts/PaperLayout.astro";
---

<GlassLayout title="Linn Strand">
  <main class="hexa-view items-center min-h-screen w-max">
    <div class="p-5">
      <h1 class="text-9xl font-bold tracking-wide my-4">Linn Strand</h1>
      <h2 class="text-4xl font-bold text-end">Web Developer</h2>
    </div>
    <div class="w-[720px]">
      <Hexagon class="invisible" />
      <Hexagon />
      <Hexagon />
      <Hexagon class="invisible" />
      <Hexagon
        class="ml-24"
        title="Fullstack"
        link="/fullstack"
        description="Skill goals"
      />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon class="bg-sky-300" link="/sky">
        <Cloud
          pointer-events-none
          variant="cloud-1"
          color="bg-white"
          class="relative m-auto left-0 right-0 bottom-2 w-8/12 h-3/4"
        />
      </Hexagon>
      <Hexagon />
      <Hexagon class="ml-24" />
      <Hexagon />
      <Hexagon />
      <Hexagon class="invisible" />
      <Hexagon />
      <Hexagon link="/gems">
        <div class="m-auto left-0 right-0 bottom-2 pointer-events-none">
          <Gem
            class="bg-gradient-to-r from-green-500/50 via-emerald-300 to-green-500/50"
          />
        </div>
      </Hexagon>
    </div>
  </main>
</GlassLayout>

<style>
  :root {
    --radius: 25vmin;
    --tracksize: 10vmin;
  }
  .hexa-view {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-content: space-around;
    grid-gap: 3rem;
  }
  h1,
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1,
  h2 {
    color: white;
    text-shadow: 2px 2px 10px theme(colors.gray.800 / 50%),
      5px 8px 5px theme(colors.gray.800 / 8%),
      -5px 5px 5px theme(colors.gray.800 / 8%);
  }
</style>
