---
import Cloud from "../components/Cloud.astro";
import Hexagon from "../components/Hexagon.astro";
import IconSunburst from "../components/IconSunburst.astro";
import Diamond from "../components/Diamond.astro";
import PaperLayout from "../layouts/PaperLayout.astro";
---

<PaperLayout title="Linn Strand">
  <main
    class="w-fit mx-auto min-h-[calc(100vh-72px)] grid xl:gap-5 mt-5 lg:grid-cols-[min-content_minmax(740px,_1000px)] lg:grid-rows-[1fr_auto_auto_1fr] lg:gap-6 lg:-mt-12"
  >
    <h1
      class="text-8xl 2xl:whitespace-nowrap 2xl:mx-20 lg:text-left inset-text row-start-2 pl-3 font-bold tracking-wide text-center"
    >
      Linn Strand
    </h1>
    <h2 class="xl:text-4xl row-start-3 pr-5 text-3xl font-bold text-right">
      Frontend Developer
    </h2>
    <div
      class="hexy grid row-span-4 place-self-start lg:place-self-center place-content-center text-lg mt-5 lg_mt-0"
    >
      <Hexagon
        link="/fullstack"
        title="Flowchart in css"
        gradient="bg-gradient-to-br from-green-400 via-teal-500 to-purple-500"
      >
        <div
          class="top-2 absolute bottom-0 left-0 right-0 m-auto leading-tight text-teal-900"
        >
          <div
            class="before:absolute before:border-l-2 before:bottom-7 before:h-7 before:left-6 before:border-teal-800 top-11 left-2 absolute w-16 h-8 p-1 bg-white border-2 border-teal-800"
          >
            Flow
          </div>
          <div
            class="after:w-3 after:absolute after:border-t-2 after:block after:z-10 after:border-teal-800 before:absolute before:border-t-2 before:block before:z-10 before:border-teal-800 before:w-3 after:top-1/2 before:top-1/2 after:left-full before:right-full absolute top-0 left-0 right-0 w-20 h-8 p-1 m-auto bg-white border-2 border-teal-800"
          >
            Skills
          </div>
          <div
            class="before:absolute before:border-l-2 before:block before:z-10 before:bottom-7 before:h-7 before:right-6 before:border-teal-800 top-11 right-2 absolute w-16 h-8 p-1 bg-white border-2 border-teal-800"
          >
            Chart
          </div>
        </div>
      </Hexagon>
      <Hexagon />
      <Hexagon class="text-teal-600" link="https://github.com/linnstrand">
        <h3 class="flex justify-center text-xl font-bold">Github</h3>
        <p>/linnstrand</p>
      </Hexagon>
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon class="bg-sky-300" link="/sky" title="Sky view">
        <Cloud
          pointer-events-none
          variant="cloud-1"
          color="bg-white"
          class="bottom-2 relative left-0 right-0 w-8/12 m-auto text-lg"
        >
          Sky
        </Cloud>
      </Hexagon>
      <Hexagon />
      <Hexagon />
      <Hexagon link="/skills" title="Sunburst chart">
        <IconSunburst>Graph</IconSunburst>
      </Hexagon>
      <Hexagon />
      <Hexagon
        class="text-sky-600"
        link="https://www.linkedin.com/in/linn-strand"
      >
        <h3
          class="flex justify-center text-2xl font-bold font-sans tracking-wider shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)]"
        >
          LinkedIn
        </h3>
      </Hexagon>
      <Hexagon link="/shiny" class="bg-indigo-300" title="Gem animation">
        <Diamond />
      </Hexagon>
    </div>

    <style is:global>
      :root {
        --radius: 25vmin;
        --tracksize: 10vmin;
        --rainbow: theme(backgroundImage.rainbow);

        --side: 9.3em;
        --height: calc(calc(var(--side) / 2) / sin(60deg));
        --offset: calc(var(--height) / var(--side));
        --g: 8%;
      }

      @keyframes gradient-bg {
        0% {
          filter: grayscale(100%);
        }
        40% {
          filter: grayscale(100%);
        }
        100% {
          filter: grayscale(0);
        }
      }

      .hexy {
        height: calc(var(--side) * 5);
        width: calc(var(--side) * 4.5);

        /*1st col*/
        > div:nth-child(5) {
          --_x: calc(-150% - calc(var(--g) * 1.5));
        }

        /*2nd col*/
        > div:nth-child(6),
        > div:nth-child(14) {
          --_x: calc(-100% - var(--g));
        }

        /*3rd col*/
        > div:nth-child(1),
        > div:nth-child(7),
        > div:nth-child(13) {
          --_x: calc(-50% - calc(var(--g) / 2));
        }

        /*4th col*/
        > div:nth-child(2),
        > div:nth-child(4) {
          --_x: 0;
        }

        /*5th col*/
        > div:nth-child(3),
        > div:nth-child(8),
        > div:nth-child(12) {
          --_x: calc(50% + calc(var(--g) / 2));
        }

        /*6th col*/
        div:nth-child(9),
        div:nth-child(11) {
          --_x: calc(100% + var(--g));
        }

        /*7th col*/
        div:nth-child(10) {
          --_x: calc(150% + calc(var(--g) * 1.5));
        }

        /*First row*/
        > div:nth-child(7),
        > div:nth-child(8) {
          --_y: calc(-300% - calc(var(--g) * 2));
        }

        /*Second row*/
        > div:nth-child(2),
        > div:nth-child(6),
        > div:nth-child(9) {
          --_y: calc(-150% - var(--g));
        }

        /*Third row*/
        > div:nth-child(1),
        > div:nth-child(3),
        > div:nth-child(5),
        > div:nth-child(10) {
          --_y: 0;
        }

        /*Forth row*/
        > div:nth-child(4),
        > div:nth-child(11),
        > div:nth-child(14) {
          --_y: calc(150% + var(--g));
        }

        /*Fifth row*/
        > div:nth-child(12),
        > div:nth-child(13) {
          --_y: calc(300% + calc(var(--g) * 2));
        }
      }

      h1,
      h2 {
        color: theme(colors.white);
        background-color: theme(colors.gray.600);
        background-clip: text;
        color: transparent;
        animation: gradient-bg 2s ease-in-out infinite alternate;
        background-image: var(--rainbow);
        text-shadow:
          theme(colors.white / 50%) 0px 3px 4px,
          theme(colors.white / 12%) 1px 1px 6px;

        &:hover {
          animation-name: none;
          filter: grayscale(0);
          background-image: var(--rainbow);
        }
      }
    </style>
  </main>
</PaperLayout>
