---
import Cloud from "../components/Cloud.astro";
import Hexagon from "../components/Hexagon.astro";
import IconSunburst from "../components/IconSunburst.astro";
import Diamond from "../components/diamond.astro";
import PaperLayout from "../layouts/PaperLayout.astro";
---

<PaperLayout title="Linn Strand">
  <main
    class="w-fit m-auto min-h-screen grid xl:gap-5 lg:grid-cols-[min-content_minmax(740px,_1000px)] lg:grid-rows-[1fr_auto_auto_1fr] lg:gap-6"
  >
    <h1
      class="text-8xl 2xl:whitespace-nowrap 2xl:mx-20 lg:text-left inset-text row-start-2 pl-3 font-bold tracking-wide text-center"
    >
      Linn Strand
    </h1>
    <h2 class="xl:text-4xl row-start-3 pr-5 text-3xl font-bold text-right">
      Frontend Developer
    </h2>
    <div
      class="row-span-4 place-self-start lg:place-self-center w-[740px] scale-90 xl:scale-100"
    >
      <Hexagon class="invisible" />
      <Hexagon
        link="/fullstack"
        gradient="bg-gradient-to-br from-green-400 via-teal-500 via via-blue-500 via-indigo-500 to-purple-500"
      >
        <div
          class="top-2 absolute bottom-0 left-0 right-0 m-auto leading-tight text-teal-900"
        >
          <div
            class="before:absolute before:border-l-2 before:bottom-7 before:h-7 before:left-6 before:border-teal-800 top-11 left-2 absolute w-16 h-8 p-1 bg-white border-2 border-teal-800"
          >
            Flow
          </div>
          <div
            class="after:w-3 after:absolute after:border-t-2 after:block after:z-10 after:border-teal-800 before:absolute before:border-t-2 before:block before:z-10 before:border-teal-800 before:w-3 after:top-1/2 before:top-1/2 after:left-full before:right-full absolute top-0 left-0 right-0 w-20 h-8 p-1 m-auto bg-white border-2 border-teal-800"
          >
            Skills
          </div>
          <div
            class="before:absolute before:border-l-2 before:block before:z-10 before:bottom-7 before:h-7 before:right-6 before:border-teal-800 top-11 right-2 absolute w-16 h-8 p-1 bg-white border-2 border-teal-800"
          >
            Chart
          </div>
        </div>
      </Hexagon>
      <Hexagon />
      <Hexagon class="invisible" />
      <Hexagon
        class="ml-24 text-teal-600"
        title="Github"
        link="https://github.com/linnstrand"
        description="/linnstrand"
      />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon class="bg-sky-300" link="/sky">
        <Cloud
          pointer-events-none
          variant="cloud-1"
          color="bg-white"
          class="bottom-2 relative left-0 right-0 w-8/12 m-auto"
        >
          Sky
        </Cloud>
      </Hexagon>
      <Hexagon />
      <Hexagon class="ml-24" />
      <Hexagon link="skills">
        <IconSunburst />
      </Hexagon>
      <Hexagon />
      <Hexagon class="invisible" />
      <Hexagon />
      <Hexagon link="/shiny" class="bg-indigo-300">
        <Diamond />
      </Hexagon>
    </div>

    <style>
      :root {
        --radius: 25vmin;
        --tracksize: 10vmin;
        --rainbow: theme(backgroundImage.rainbow);
      }

      @keyframes gradient-bg {
        0% {
          filter: grayscale(100%);
        }
        30% {
          filter: grayscale(100%);
        }
        100% {
          filter: grayscale(0);
        }
      }

      h1,
      h2 {
        color: theme(colors.white);
        background-color: theme(colors.gray.600);
        background-clip: text;
        color: transparent;
        animation: gradient-bg 2s ease-in-out infinite alternate;
        background-image: var(--rainbow);
        text-shadow:
          theme(colors.white / 50%) 0px 3px 4px,
          theme(colors.white / 12%) 1px 1px 6px;

        &:hover {
          animation-name: none;
          filter: grayscale(0);
          background-image: var(--rainbow);
        }
      }
    </style>
  </main>
</PaperLayout>
