---
import Hexagon from "../components/Hexagon2.astro";
import GlassLayout from "../layouts/GlassLayout.astro";
---

<GlassLayout title="Linn Strand">
  <main class="grid w-screen min-h-screen grid-cols-2 p-8 bg-gray-200">
    <div class="item col-span-2">
      <h2 class="text-2xl font-bold text-gray-900">Web Developer</h2>
    </div>
    <div class="item">
      <h1 class="text-9xl antialiased font-bold tracking-wide bg-gray-500">
        Linn Strand
      </h1>
    </div>
    <div class="w-[46rem] absolute h-full">
      <Hexagon class="bg-slate-400 ml-24" />
      <Hexagon class="bg-slate-400" />
      <Hexagon class="bg-slate-400" />
      <Hexagon class="bg-slate-400" />
      <Hexagon class="bg-slate-400" />
      <Hexagon class="bg-slate-400" />
      <Hexagon class="bg-slate-400" />
      <Hexagon class="bg-slate-400" />
      <Hexagon class="bg-slate-400" />
      <Hexagon class="bg-slate-400" />
    </div>
  </main>
</GlassLayout>

<style>
  h2 {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    /* color: transparent;
    text-shadow: 1px 1px 3px rgb(233, 233, 233);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-clip: text;
    background-color: rgb(61, 61, 61); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    text-shadow: 2px 2px 3px theme(colors.slate.100);
    text-shadow: 2px 2px 3px rgba(241, 245, 255, 0.6);
    background-clip: text;
  }
</style>
