---
import Cloud from "../components/Cloud.astro";
import Hexagon from "../components/Hexagon.astro";
import Gem from "../components/Gem.astro";
import PaperLayout from "../layouts/PaperLayout.astro";
---

<PaperLayout title="Linn Strand">
  <main
    class="lg:w-screen min-h-screen content-start grid gap-5 lg:grid-cols-[min-content_minmax(740px,_1000px)] lg:grid-rows-[1fr_auto_auto_1fr] lg:gap-6"
  >
    <h1
      class="text-8xl 2xl:whitespace-nowrap xl:text-8xl row-start-2 px-3 font-bold tracking-wide"
    >
      Linn Strand
    </h1>
    <h2 class="xl:text-4xl row-start-3 pr-5 text-3xl font-bold text-right">
      Web Developer
    </h2>
    <div class="row-span-4 place-self-center w-[740px] scale-90 xl:scale-100">
      <Hexagon class="invisible" />
      <Hexagon
        link="https://linnstrand.github.io/graph-craft/"
        gradient="bg-gradient-to-br from-green-400 via-teal-500 via via-blue-500 via-indigo-500 to-purple-500"
      >
        <div
          class="top-2 absolute bottom-0 left-0 right-0 m-auto leading-tight text-teal-900"
        >
          <div
            class="before:absolute before:border-l-2 before:bottom-7 before:h-7 before:left-6 before:border-teal-800 top-11 left-2 absolute w-16 h-8 p-1 bg-white border-2 border-teal-800"
          >
            Tree
          </div>
          <div
            class="after:w-3 after:absolute after:border-t-2 after:block after:z-10 after:border-teal-800 before:absolute before:border-t-2 before:block before:z-10 before:border-teal-800 before:w-3 after:top-1/2 before:top-1/2 after:left-full before:right-full absolute top-0 left-0 right-0 w-20 h-8 p-1 m-auto bg-white border-2 border-teal-800"
          >
            Graphs
          </div>
          <div
            class="before:absolute before:border-l-2 before:block before:z-10 before:bottom-7 before:h-7 before:right-6 before:border-teal-800 top-11 right-2 absolute w-16 h-8 p-1 bg-white border-2 border-teal-800"
          >
            Sun
          </div>
        </div>
      </Hexagon>
      <Hexagon />
      <Hexagon class="invisible" />
      <Hexagon
        class="ml-24 text-teal-600"
        title="Fullstack"
        link="/fullstack"
        description="Skill goals"
      />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon class="bg-sky-300" link="/sky">
        <Cloud
          pointer-events-none
          variant="cloud-1"
          color="bg-white"
          class="bottom-2 relative left-0 right-0 w-8/12 m-auto"
        >
          Sky
        </Cloud>
      </Hexagon>
      <Hexagon />
      <Hexagon class="ml-24" />
      <Hexagon>
        <div class="sun"></div>
        <div class="shard bg-white"></div>
      </Hexagon>
      <Hexagon />
      <Hexagon class="invisible" />
      <Hexagon />
      <Hexagon link="/shiny">
        <div class="bottom-2 left-0 right-0 m-auto pointer-events-none">
          <Gem
            title="Shiny"
            class="bg-gradient-to-r from-green-500/50 via-emerald-300 to-green-500/50"
          />
        </div>
      </Hexagon>
    </div>
  </main>

  <style>
    :root {
      --radius: 25vmin;
      --tracksize: 10vmin;
    }
    .sun {
      width: 7em;
      height: 7em;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      position: absolute;
      background-color: pink;
      background-color: transparent;
      border: 2em solid pink;
      &:before {
        content: "";
        height: 5.5em;
        width: 5.5em;
        border-radius: 50%;
        background-color: yellow;
        /* clip-path: circle(50% at 0 0); */
        position: absolute;
        top: 0.75em;
        left: 0.75em;
      }
      &:after {
        content: "";
        height: 4em;
        width: 4em;
        border-radius: 50%;
        background-color: green;
        /* clip-path: circle(50% at 0 0); */
        position: absolute;
        top: 1.5em;
        left: 1.5em;
      }
    }
    .shard {
      height: 4em;
      width: 4em;
      background-color: aqua;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      position: absolute;
    }

    .hexa-view {
      grid-template-columns: min-content 1fr;
    }
    h1,
    h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1,
    h2 {
      color: white;
      text-shadow: 2px 2px 10px theme(colors.gray.800 / 50%),
        5px 8px 5px theme(colors.gray.800 / 8%),
        -5px 5px 5px theme(colors.gray.800 / 8%);
    }

    .rainbow {
      background: linear-gradient(
        109.6deg,
        theme(colors.red.500) 25%,
        theme(colors.yellow.500) 35%,
        theme(colors.green.500) 45%,
        theme(colors.sky.500) 55%,
        theme(colors.indigo.500) 70%,
        theme(colors.purple.500) 85%
      );
    }
  </style>
</PaperLayout>
