---
import Cloud from "../components/Cloud.astro";
import Hexagon from "../components/Hexagon.astro";
import PaperLayout from "../layouts/PaperLayout.astro";
---

<PaperLayout title="Linn Strand">
  <main
    class="w-fit m-auto min-h-screen content-start grid gap-5 lg:grid-cols-[min-content_minmax(740px,_1000px)] lg:grid-rows-[1fr_auto_auto_1fr] lg:gap-6"
  >
    <h1
      class="text-8xl 2xl:whitespace-nowrap lg:text-left inset-text row-start-2 pl-3 font-bold tracking-wide text-center"
    >
      Linn Strand
    </h1>
    <h2 class="xl:text-4xl row-start-3 pr-5 text-3xl font-bold text-right">
      Frontend Developer
    </h2>
    <div class="row-span-4 place-self-center w-[740px] scale-90 xl:scale-100">
      <Hexagon class="invisible" />
      <Hexagon
        link="/fullstack"
        gradient="bg-gradient-to-br from-green-400 via-teal-500 via via-blue-500 via-indigo-500 to-purple-500"
      >
        <div
          class="top-2 absolute bottom-0 left-0 right-0 m-auto leading-tight text-teal-900"
        >
          <div
            class="before:absolute before:border-l-2 before:bottom-7 before:h-7 before:left-6 before:border-teal-800 top-11 left-2 absolute w-16 h-8 p-1 bg-white border-2 border-teal-800"
          >
            Flow
          </div>
          <div
            class="after:w-3 after:absolute after:border-t-2 after:block after:z-10 after:border-teal-800 before:absolute before:border-t-2 before:block before:z-10 before:border-teal-800 before:w-3 after:top-1/2 before:top-1/2 after:left-full before:right-full absolute top-0 left-0 right-0 w-20 h-8 p-1 m-auto bg-white border-2 border-teal-800"
          >
            Skills
          </div>
          <div
            class="before:absolute before:border-l-2 before:block before:z-10 before:bottom-7 before:h-7 before:right-6 before:border-teal-800 top-11 right-2 absolute w-16 h-8 p-1 bg-white border-2 border-teal-800"
          >
            Chart
          </div>
        </div>
      </Hexagon>
      <Hexagon />
      <Hexagon class="invisible" />
      <Hexagon
        class="ml-24 text-teal-600"
        title="Github"
        link="https://github.com/linnstrand"
        description="/linnstrand"
      />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon />
      <Hexagon class="bg-sky-300" link="/sky">
        <Cloud
          pointer-events-none
          variant="cloud-1"
          color="bg-white"
          class="bottom-2 relative left-0 right-0 w-8/12 m-auto"
        >
          Sky
        </Cloud>
      </Hexagon>
      <Hexagon />
      <Hexagon class="ml-24" />
      <Hexagon link="skills">
        <div
          class="sun aspect-square hover:motion-safe:animate-spin absolute bg-transparent"
        >
        </div>
        <div class="aspect-square absolute bg-white rounded-full"></div>
        <div
          class="absolute font-semibold text-center text-purple-950/80 translate-y-[3.4em]"
        >
          Sunburst
        </div>
      </Hexagon>
      <Hexagon />
      <Hexagon class="invisible" />
      <Hexagon />
      <Hexagon link="/shiny">
        <!-- <Diamond /> -->
      </Hexagon>
    </div>

    <style>
      :root {
        --radius: 25vmin;
        --tracksize: 10vmin;
      }
      .sun {
        width: 7em;
        height: 7em;
        border-radius: 50%;
        border: 1em solid theme(colors.indigo.200);
        border-top: 1em solid theme(colors.purple.200);
        border-left: 1em solid theme(colors.violet.200);
        border-right: 1em solid theme(colors.blue.200);

        &:before {
          content: "";
          height: 5.5em;
          width: 5.5em;
          border-radius: 50%;
          border: 1em solid theme(colors.indigo.300);
          border-top: 1em solid theme(colors.purple.300);
          border-left: 1em solid theme(colors.violet.300);
          border-right: 1em solid theme(colors.blue.300);
          position: absolute;
          top: -0.25em;
          left: -0.25em;
        }
        &:after {
          content: "";
          height: 4em;
          width: 4em;
          border-radius: 50%;
          border: 1em solid theme(colors.indigo.400);
          border-top: 1em solid theme(colors.purple.400);
          border-left: 1em solid theme(colors.violet.400);
          border-right: 1em solid theme(colors.blue.400);
          position: absolute;
          top: 0.5em;
          left: 0.5em;
        }
      }

      h1,
      h2 {
        color: white;
        background-color: theme(colors.gray.600);
        background-clip: text;
        color: transparent;
        text-shadow:
          theme(colors.white / 50%) 0px 3px 4px,
          theme(colors.white / 12%) 1px 1px 6px;
      }

      h2:hover {
        background-image: linear-gradient(
          109.6deg,
          theme(colors.red.500) 25%,
          theme(colors.yellow.500) 35%,
          theme(colors.green.500) 45%,
          theme(colors.sky.500) 55%,
          theme(colors.indigo.500) 70%,
          theme(colors.purple.500) 85%
        );
      }
    </style>
  </main>
</PaperLayout>
