---
import Layout from "../layouts/Layout.astro";
import Gems from "../components/Gems.astro";
---

<Layout title="Welcome to Astro.">
  <div class="w-screen">
    <Gems />
  </div>
</Layout>

<style>
  .text-shadow {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  }
  .cloud-text {
    color: var(--contrast-color);
    font-weight: bold;
    font-size: 20px;
    max-width: 8em;
    text-align: center;
  }

  .cloud-footer {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    position: fixed;
    display: flex;
    height: 8em;
    bottom: 0;
  }

  .group-1 {
    width: 100%;
    max-width: 1400px;
    bottom: 0;
    text-align: center;
  }
</style>
