---
import Layout from "../layouts/Layout.astro";
import Gems from "../components/Gems.astro";
---

<Layout title="Welcome to Astro.">
  <div class="w-screen max-w-screen-xl">
    <Gems />
  </div>
</Layout>

<style></style>
