---
import Layout from "../layouts/Layout.astro";
import Gems from "../components/Gems.astro";
---

<Layout title="Shiny animations">
  <div class="w-[90vmin] h-[90vmin] m-auto">
    <Gems />
  </div>
</Layout>

<style></style>
