---
import { SkillGraph } from "../components/react/SkillGraph";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Linn Strand">
  <main>
    <SkillGraph size={1100} client:only="react" />
  </main>
</Layout>

<style>
  .tree-container {
    display: flex;
    position: relative;
    flex-direction: row;
  }

  .lines {
    fill: none;
    stroke-opacity: 0.6;
    stroke-width: 1;
  }
</style>
