---
import { SkillGraph } from "../components/react/SkillGraph";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Linn Strand">
  <main class="w-[90vmin] h-[90vmin] mx-auto">
    <SkillGraph size={1100} client:only="react" />
  </main>
</Layout>

<style>
  body {
    &:before {
      content: "";
      z-index: -10;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background:
        linear-gradient(210deg, theme(colors.blue.700 / 40%), transparent 20%),
        radial-gradient(theme(colors.indigo.800 / 50%), transparent 30%)
          no-repeat -50vw -1vh / 105vw 210vh,
        radial-gradient(
            ellipse at 50% 50%,
            rgb(0 0 0 / 1) 11.46%,
            50%,
            rgb(69 168 255 / 0) 100%
          ) -2px 1px / 100% 100% no-repeat no-repeat;
    }
  }
</style>
