---
import CloudLayout from "../layouts/CloudLayout.astro";
import Cloud from "../components/Cloud.astro";
---

<CloudLayout title="Welcome to Astro.">
  <div
    class="relative text-center h-screen flex space-between flex-col overflow-hidden"
  >
    <h1
      class="text-6xl lg:text-8xl text-white font-bold pt-10"
      style="text-shadow: 3px 3px rgba(0, 0, 0, 0.2);"
    >
      Frontend Developer
    </h1>
    <div class="pt-5">
      <Cloud variant="cloud-1" class="relative float-right mt-2 mr-2 w-4/12">
        Linn Strand
      </Cloud>
      <Cloud variant="cloud-2" class="relative ml-2 z-10 w-4/12">
        Makes websites
      </Cloud>
      <Cloud
        variant="cloud-2"
        color="bg-cyan-100"
        class="relative m-auto right-0 left-0 w-2/5"
      >
        TypeScript
      </Cloud>
    </div>
    <div class="absolute bottom-0 top-1/2 left-0 right-0">
      <Cloud
        variant="cloud-1"
        color="bg-green-100"
        class="absolute bottom-2 float-right m-auto right-2 w-96"
      >
        Node
      </Cloud>
      <Cloud
        variant="cloud-1"
        color="bg-yellow-100"
        class="absolute left-1/4 bottom-1/3 w-4/12"
      >
        UI
      </Cloud>

      <Cloud
        variant="cloud-1"
        color="bg-red-100"
        class="absolute float-right bottom-2 w-4/12"
      >
        React
      </Cloud>
    </div>
  </div>

  <style>
    .cloud-container {
      max-width: 50vmin;
      min-width: 15em;
    }
  </style>
</CloudLayout>
