---
import CloudLayout from "../layouts/CloudLayout.astro";
import Layout from "../layouts/Layout.astro";
import Cloud from "../components/cloud.astro";
---

<CloudLayout title="Welcome to Astro.">
  <div class="absolute top-1/2 bottom-1/2">
    <Cloud />
  </div>
  <div class="cloud-footer"><Cloud /></div>
</CloudLayout>

<style>
  .cloud-footer {
    position: absolute;
    background: rgba(255, 255, 255);
    width: 100%;
    height: 50px;
    bottom: 0;
    text-align: center;
  }

  .cloud-footer::before {
    content: "";
    background-color: white;
    border-radius: 110% 50% 0 0;
    display: block;
    height: 120px;
    bottom: 0;
    position: absolute;
    transform: translate(85%, 0%);
    width: 55%;
  }

  .cloud-footer::after {
    content: "";
    background-color: white;
    border-radius: 150% 200%;
    display: block;
    height: 50px;
    position: absolute;
    transform: translate(-4%, -50%);
    width: 50%;
  }

  .cloud {
    position: absolute;
    background: rgba(255, 255, 255);
    width: 300px;
    height: 110px;
    border-radius: 150px;
    /* box-shadow: 10px 10px rgba(0, 0, 0, 0.2); */
  }

  .cloud::before {
    content: "";
    background: rgba(255, 255, 255);
    position: absolute;
    width: 130px;
    height: 157px;
    border-radius: 50%;
    top: -80px;
    right: 40px;
  }
</style>
