---
import CloudLayout from "../layouts/CloudLayout.astro";
import Layout from "../layouts/Layout.astro";
import Cloud from "../components/cloud.astro";
---

<CloudLayout title="Welcome to Astro.">
  <div
    class="absolute top-6 left-6 text-7xl text-white font-bold"
    style="text-shadow: 3px 3px rgba(0, 0, 0, 0.2);"
  >
    Frontend Developer
  </div>
  <div class="absolute top-1/2 bottom-1/2 w-80 h-40 left-2 flex justify-center">
    <Cloud class="cloud-2 shadow" />
  </div>

  <div class="absolute top-1/4 bottom-1/2 right-4 w-72 h-36">
    <Cloud class="cloud-1 shadow" />
  </div>

  <div class="cloud-footer background">
    <!-- <div class="cloud-part absolute w-1/2 max-w-xl -bottom-44 left-32 scale-90">
      <Cloud class="cloud-1" />
    </div> -->
    <div class="cloud-part absolute max-w-2xl -left-10 -bottom-32">
      <Cloud class="cloud-1 shadow-top" />
    </div>
    <div class="cloud-part absolute w-1/2 max-w-xl left-80 -bottom-28 scale-90">
      <Cloud class="cloud-1 shadow-top" />
    </div>
    <div class="cloud-part absolute w-1/3 max-w-xl left-2/3 scale-110">
      <Cloud class="cloud-1 shadow-top" />
    </div>
  </div>
</CloudLayout>

<style>
  .text-shadow {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  }
  .cloud-text {
    color: var(--contrast-color);
    font-weight: bold;
    font-size: 20px;
    max-width: 8em;
    text-align: center;
  }

  .cloud-part {
    min-height: 14rem;
    min-width: 26rem;
  }

  .cloud-footer {
    max-width: 1200px;
    position: fixed;
    display: flex;
    height: 8em;
    bottom: 0;
  }

  .background {
    width: 100%;
  }

  .group-1 {
    width: 100%;
    max-width: 1400px;
    bottom: 0;
    text-align: center;
  }

  .background::before,
  .background::after {
    opacity: 0.7;
    content: "";
    background-color: var(--cloud-color);
    display: block;
    position: absolute;
  }

  /* .background::before {
    border-radius: 60% 60% 0 0 / 80% 70% 0 0;
    height: 10em;
    bottom: 1em;
    width: 16em;
    left: -4em;
  }

  .background::after {
    border-radius: 60%;
    height: 10em;
    bottom: -1em;
    width: 16em;
    right: 40%;
  } */
</style>
