---
import CloudLayout from "../layouts/CloudLayout.astro";
import Layout from "../layouts/Layout.astro";
import Cloud from "../components/cloud.astro";
---

<CloudLayout title="Welcome to Astro.">
  <div class="absolute top-1/2 bottom-1/2 w-80 h-40">
    <Cloud />
  </div>
  <div class="absolute top-1/4 bottom-1/2 right-2 w-72 h-36">
    <Cloud />
  </div>

  <div class="cloud-footer bg-gradient-to-b from-transparent to-white to-70%">
    <div
      class="cloud-part absolute w-1/2 opacity-50 bottom-4 rotate-180 -left-1/4"
    >
      <Cloud />
    </div>
    <div
      class="cloud-part absolute w-1/2 max-w-2xl -bottom-32 right-2 opacity-90"
    >
      <Cloud />
    </div>
    <div
      class="cloud-part absolute w-1/2 max-w-2xl -bottom-10 -left-6 rotate-180 opacity-90"
    >
      <Cloud />
    </div>
  </div>
  <div class="absolute w-1/2 h-96 opacity-50 rotate-180 -right-24 -bottom-4">
    <Cloud />
  </div>
</CloudLayout>

<style>
  .cloud-part {
    height: 18rem;
    min-width: 38rem;
  }
  .cloud-footer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    bottom: 0;
    text-align: center;
  }

  .cloud-footer::before {
    content: "";
    background-color: white;
    border-radius: 50% 60% 0 0 / 90% 80% 0 0;
    display: block;
    height: 8em;
    bottom: 1em;
    position: absolute;
    width: 12em;
    z-index: 2;
  }

  .cloud-footer::after {
    content: "";
    background-color: white;
    border-radius: 25% 40% 0 0 / 100% 100% 0 0;
    display: block;
    height: 7em;
    position: absolute;
    bottom: -1em;
    width: 24em;
  }
</style>
