@import "@material-design-icons/font";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: system-ui, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

code {
  font-family: var(--__sl-font-mono);
}

/* Theming */

h1,
h2,
h3,
h4,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@layer base {
  :root {
    --color-bg: 229 231 235;
    --color-strong: 255 255 255;
  }

  html.theme-light {
    --color-bg: 229 231 235;
    --color-strong: 255 255 255;
  }

  html.theme-dark {
    --color-bg: 31 41 55;
    --color-strong: 3 7 18;
  }
}
