@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: system-ui, sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

code {
  font-family: var(--__sl-font-mono);
}
@layer components {
  :root {
    --line-color: theme(colors.gray.500);
    --line-fill-color: theme(colors.gray.900);
  }

  .lines {
    @apply bg-gray-800 border-2 border-gray-500;
  }
  .lines-before {
    @apply before:absolute before:border-t-2 before:block before:z-10 before:top-4 before:border-gray-500;
  }
  .lines-after {
    @apply after:absolute after:border-t-2 after:block after:z-10 after:top-4 after:border-gray-500;
  }
}
.inset-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(241, 245, 255, 0.75), -1px 0 rgb(107, 107, 107),
    0 1px rgb(106, 106, 106), 1px 0 rgb(114, 114, 114),
    0 -1px rgb(119, 119, 119);
  background-clip: text;
}
