---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<li class="link-card mb-2 rounded-lg p-5">
  <h2 class="text-xl">
    {title}
  </h2>
  <p class="pt-2">
    {body}
  </p>
</li>
<style>
  .link-card {
    list-style: none;
    border: 1px solid hsla(230, 66%, 40%, 0.25);
    background: linear-gradient(
      200deg,
      hsla(230, 66%, 40%, 0.2),
      transparent 40%
    );
  }
</style>
