---
const { variant } = Astro.props;
---

<>
  <div class=`cloud ${variant || 'cloud-1'}`></div>
</>

<style>
  .cloud {
    position: absolute;
    background: rgba(255, 255, 255);
    width: 100%;
    height: 66%;
    border-radius: 30% 30% / 80% 80%;
    text-align: center;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  }

  .cloud-1::before,
  .cloud-1::after,
  .cloud-2::before,
  .cloud-2::after {
    content: "";
    background: inherit;
    background: rgba(255, 255, 255);
    position: absolute;
  }

  .cloud::before {
    width: 40%;
    height: 140%;
    border-radius: 50%;
    top: -75%;
    right: 15%;
  }

  .cloud::after {
    width: 35%;
    height: 80%;
    border-radius: 60% 50% / 80% 30%;
    top: -50%;
    left: 20%;
  }

  .cloud-2:before {
    width: 35%;
    height: 100%;
    border-radius: 50%;
    top: -40%;
    right: 15%;
  }

  .cloud-2::after {
    width: 35;
    height: 90%;
    border-radius: 50%;
    top: -40%;
  }
</style>
