---
const { class: className, variant, color } = Astro.props;
---

<div class=`cloud-container h-auto ${className}`>
  <div
    class=`cloud absolute w-full text-center h-1/2 flex justify-center items-center ${variant} ${color || "default-color"}`
  >
    <span class="text-cyan-600 mb-4 font-bold">
      <slot />
    </span>
  </div>
</div>

<style>
  .cloud {
    border-radius: 30% 30% / 80% 80%;
    top: 40%;
    z-index: -1;
    font-size: calc(1em + 0.8vmin);
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2), 10px 10px rgba(0, 0, 0, 0.2),
      inset 2px 9px 0px 0px rgb(255, 255, 255);
  }

  .cloud-container {
    aspect-ratio: 3 / 2;
  }

  .cloud-2 {
    top: 30%;
    height: 55%;
  }

  .default-color {
    background: white;
  }
  .cloud-1::before,
  .cloud-1::after,
  .cloud-2::before,
  .cloud-2::after {
    width: 35%;
    border-radius: 50%;
    content: "";
    background: inherit;
    position: absolute;
    box-shadow: inset 2px 9px 0px 0px rgb(255, 255, 255);
    z-index: -1;
  }

  .cloud-1::before {
    width: 40%;
    height: 140%;
    top: -70%;
    right: 15%;
  }

  .cloud-1::after {
    height: 80%;
    border-radius: 60% 50% / 80% 30%;
    top: -50%;
    left: 20%;
  }

  .cloud-2:before {
    height: 100%;
    top: -40%;
    right: 15%;
  }

  .cloud-2::after {
    height: 90%;
    top: -40%;
    left: 20%;
  }
</style>
