<div
  class="diamond aspect-square -left-20 top-4 relative flex items-center justify-center m-auto text-[9px] -rotate-45"
>
  <div class="diamond-top"></div>
  <div class="diamond-center"></div>
  <div class="diamond-bottom"></div>
</div>

<style>
  :root {
    --baseColor: theme(colors.cyan.500);
    --lighten: color-mix(in srgb, var(--baseColor) 80%, white);
    --lighten2: color-mix(in srgb, var(--baseColor) 70%, white);
    --lighten3: color-mix(in srgb, var(--baseColor) 50%, white);
    --lighten4: color-mix(in srgb, var(--baseColor) 40%, white);
    --lighten4: color-mix(in srgb, var(--baseColor) 30%, white);
  }

  .diamond {
    filter: drop-shadow(2px 2px 6px theme(colors.blue.900 / 70%))
      drop-shadow(0 0 10px theme(colors.blue.900 / 40%));
  }

  .diamond-top {
    position: absolute;
    border-color: transparent transparent var(--lighten4) transparent;
    border-width: 0 5em 1.5em 5em;
    width: 10em;
    height: 0;
    top: -1.5em;
    left: 2.5em;
  }

  .diamond-center:before,
  .diamond-center:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: 0;
  }

  .diamond-center:before {
    border-color: transparent transparent var(--lighten2) transparent;
    border-width: 0 2.5em 3em 2.5em;
    filter: drop-shadow(5em 0 var(--lighten2))
      drop-shadow(5em 0 var(--lighten2));
  }

  .diamond-center:after {
    border-color: var(--lighten3) transparent transparent transparent;
    border-width: 3em 2.5em 0 2.5em;
    left: 2.5em;
    filter: drop-shadow(5em 0 var(--lighten3));
  }

  .diamond-bottom,
  .diamond-bottom:before,
  .diamond-bottom:after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .diamond-bottom {
    top: 3em;
    left: 7.5em;
    border-color: var(--baseColor) transparent transparent transparent;
    border-width: 10.1em 7.5em 0 0em;

    &:after {
      content: "";
      left: 0;
      top: -10.1em;
      left: -7.5em;
      border-color: var(--lighten2) transparent transparent transparent;
      border-width: 10em 0em 0 7.5em;
    }

    &:before {
      content: "";
      border-color: var(--lighten) transparent transparent transparent;
      border-width: 3.4em 2.5em 2em 2.5em;
      top: -10.1em;
      left: -7.5em;
      z-index: 10;
      filter: drop-shadow(5em 0em var(--lighten))
        drop-shadow(5em 0em var(--lighten));
    }
  }
</style>
