---
import { FlowChartSegment } from "./FlowChartSegment";
import frontend from "./frontend.json";
import backend from "./backend.json";
---

<div class="flex h-full text-gray-200">
  <div class="m-auto shrink">
    {backend.map((skill) => <FlowChartSegment skill={skill} />)}
  </div>
  <div class="m-auto">
    {frontend.map((skill) => <FlowChartSegment skill={skill} />)}
  </div>
</div>

<style is:global>
  .main-grid {
    display: grid;
    grid-template-columns: 12em 2em 13em 2em 12em;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    text-align: center;
    font-size: 0.8em;
    grid-row-gap: 0.25em;

    h4::before,
    h4::after {
      content: "";
      position: absolute;
      width: 2.25em;
      border-top: 3px solid theme(colors.gray.500);
      z-index: 1;
      top: 50%;
      right: 100%;
    }

    h4::after {
      left: 100%;
    }

    .child-list::before {
      content: "";
      position: absolute;
      width: 1.5em;
      border-top: 3px solid theme(colors.gray.500);
      z-index: 1;
      top: 1em;
    }
  }
</style>
