---
import { FlowChartSegment } from "./FlowChartSegment";
import frontend from "./frontend.json";
import backend from "./backend.json";
import operations from "./operations.json";
---

<div class="flex flex-wrap text-gray-200 min-w-[94rem] px-20">
  <div class="mx-16 justify-center w-[34rem]">
    {backend.map((skill) => <FlowChartSegment skill={skill} />)}
  </div>
  <div class="mx-16 justify-center w-[34rem]">
    {frontend.map((skill) => <FlowChartSegment skill={skill} />)}
  </div>
  <div class="mx-16 justify-center col-start-4 w-[34rem]">
    {operations.map((skill) => <FlowChartSegment skill={skill} />)}
  </div>
</div>

<style is:global>
  .main-grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 12em 2em 13em 2em 12em;
    place-items: center;
    text-align: center;
    font-size: 0.8em;
    grid-row-gap: 0.25em;

    h4::before,
    h4::after {
      content: "";
      position: absolute;
      width: 2.25em;
      border-top: 3px solid theme(colors.gray.500);
      z-index: 1;
      top: 50%;
      right: 100%;
    }

    h4::after {
      left: 100%;
    }

    .child-list::before {
      content: "";
      position: absolute;
      width: 1.5em;
      border-top: 3px solid theme(colors.gray.500);
      z-index: 1;
      top: 1em;
    }
  }
</style>
