<div class="item">
  <svg
    width="540"
    height="430"
    version="1.1"
    viewBox="0 0 143.6 120"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g
      transform="translate(-41.63 -45.2)"
      fill="#008080"
      stroke="#000"
      stroke-width=".3"
    >
      <path d="m75.76 119.1 12.6 11.3-8.038-1.5z"></path>
      <path d="m96.05 114.2-20.3 4.889 12.6 11.3z"></path>
      <path d="m88.36 130.4 5.725 1.156 9.657-11.28-7.691-6.074z"></path>
      <path d="m85.57 106.1 10.48 8.142-20.3 4.889z"></path>
      <path d="m103.7 120.3 23.82-15.28-15.98 0.2124z"></path>
      <path d="m95.92 73.75 7.65-0.3636-5.476 17.68-12.53 15z"></path>
      <path d="m114 86.2-16 4.7 13.5 14z"></path>
      <path d="m111.6 105.2 15.98-0.2124-2.234-19.29-11.11 0.6"></path>
      <path d="m103.6 73.38 4.659-2.929 4.66-2.906-20.27-8.718 10.95 15"></path>
      <path d="m127.6 105 4.334 8.485 24.2-14.66z"></path>
      <path d="m112.9 67.55 24.8 0.7649 5.282 17.53z"></path>
      <path d="m156.1 98.83 4.21-16.03-22.62-14.48 5.282 17.53z"></path>
      <path d="m92.62 58.83 3.301 14.92 7.65-0.3636z"></path>
      <path d="m143 85.85-15.41 19.15 28.53-6.174-13.12-12.98"></path>
      <path d="m143 85.85-15.41 19.15-2.234-19.29z"></path>
      <path d="m98.09 91.06-2.042 23.14-10.48-8.142z"></path>
      <path d="m131.9 113.5 0.0462 11.52 10.45 3.765 13.7-29.94z"></path>
      <path d="m142.4 128.8 20.1 33.38-6.398-63.32z"></path>
      <path d="m162.5 162.2-27.2 0.1322 7.096-33.51z"></path>
      <path d="m135.3 162.3-16.56-9.427 13.21-27.85 10.45 3.765z"></path>
      <path d="m174.7 103.4-15.41 27.08-3.199-31.66 4.21-16.03z"></path>
      <path d="m162.5 162.2 20.5-10.74 2.157-12.34-22.65 23.07"></path>
      <path d="m103.6 73.38 10.65 12.89-16.12 4.79z"></path>
      <path d="m96.05 114.2 2.042-23.14 13.49 14.15z"></path>
      <path d="m112.9 67.55-9.319 5.835 10.65 12.89 28.75-0.4271z"></path>
      <path d="m111.6 105.2-15.53 8.993 7.691 6.074z"></path>
      <path d="m174.7 103.4 10.44 35.67-22.65 23.07-3.199-31.66z"></path>
      <path d="m92.66 83.91-50.9-38.58 54.16 28.41z"></path>
    </g>
  </svg>
</div>

<style>
  .item {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      16deg,
      rgb(4, 44, 66) 5%,
      rgba(0, 50, 78, 1) 10%,
      rgba(0, 140, 148, 1) 70%,
      rgba(60, 244, 255, 1) 100%
    );
  }
</style>
