---
const { class: className } = Astro.props;
---

<!-- viewBox="14 -14 140 140" -->
<div class=`item ${className}`></div>

<style>
  svg g {
    fill: theme(colors.teal.600);
    fill-opacity: 80%;
  }
  .item {
    background-image: url("/unicorn.svg");
    fill: linear-gradient(
      16deg,
      rgb(4, 44, 66) 5%,
      rgba(0, 50, 78, 1) 10%,
      rgba(0, 140, 148, 1) 70%,
      rgba(60, 244, 255, 1) 100%
    );
    &:hover {
      mask: url("/unicorn.svg") no-repeat 50% 50%;
      mask-size: cover;
      background: linear-gradient(
        16deg,
        rgb(4, 44, 66) 5%,
        rgba(0, 50, 78, 1) 10%,
        rgba(0, 140, 148, 1) 70%,
        rgba(60, 244, 255, 1) 100%
      );
    }
  }
</style>
