---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="Linn Strand">
  <div class="page w-full">
    <nav
      class="absolute z-10 flex flex-col w-full max-w-screen-md px-16 py-4 text-gray-200"
    >
      <div class="sm:mb-0 mb-2">
        <a
          href={`${import.meta.env.BASE_URL}/`}
          class="bg-clip-text hover:bg-gradient-to-l from-green-200 via-blue-200 to-indigo-200 text-3xl font-bold text-transparent bg-gray-200"
          >Home</a
        >
      </div>
    </nav>
    <slot />
  </div>
</BaseLayout>

<style is:global>
  :root {
    --blue-hsl: 227, 60%, 60%;
    ---hsl-blue: hsl(var(--blue-hsl));
  }

  body {
    background: #13151a;
  }
  .page {
    background:
      linear-gradient(210deg, hsla(var(--blue-hsl), 0.2), transparent 40%),
      radial-gradient(hsla(260, 66%, 55%, 0.2), transparent 30%) no-repeat -60vw -10vh /
        105vw 210vh;
  }
</style>
