---
import "../style/reset.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="page w-full">
      <nav
        class="absolute flex flex-col w-full max-w-screen-md px-16 py-4 text-gray-200"
      >
        <div class="sm:mb-0 mb-2">
          <a
            href={`${import.meta.env.BASE_URL}/`}
            class="text-3xl font-bold bg-clip-text text-transparent bg-gray-200 hover:bg-gradient-to-l from-green-200 via-blue-200 to-indigo-200"
            >Home</a
          >
        </div>
      </nav>

      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --blue-hsl: 227, 60%, 60%;
    ---hsl-blue: hsl(var(--blue-hsl));
  }

  body {
    background: #13151a;
  }
  .page {
    background:
      linear-gradient(210deg, hsla(var(--blue-hsl), 0.2), transparent 40%),
      radial-gradient(hsla(260, 66%, 55%, 0.2), transparent 30%) no-repeat -60vw -10vh /
        105vw 210vh;
  }
</style>
