---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="Linn Strand">
  <div class="max-w-screen-2xl">
    <slot />
  </div>
</BaseLayout>

<style>
  body {
    background-color: theme(colors.gray.200);
  }
</style>
