---
import "../style/reset.css";
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <base href={import.meta.env.BASE_URL} />
  </head>
  <body class="max-w-screen-2xl bg-gray-200">
    {import.meta.env.BASE_URL}
    <slot />
  </body>
</html>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
</style>
